dashscope==1.20.0
langchain==0.2.7
llama-index==0.10.47
numpy==1.26.4
openai==1.35.13
pandas==2.2.2
sentence_transformers==3.0.1
torch==2.3.0
tqdm==4.66.4
transformers==4.42.2
llama-index-embeddings-huggingface==0.2.2
llama-index-embeddings-langchain==0.1.2
llama-index-embeddings-openai==0.1.10
llama-index-retrievers-bm25==0.1.4
llama-index-readers-file==0.1.25
llama-index-legacy==0.9.48
llama-index-llms-dashscope==0.1.2
llama-index-llms-huggingface==0.2.3
llama-index-llms-modelscope==0.1.1
llama-index-llms-openai==0.1.22
FlagEmbedding==1.2.10
zhipuai==2.1.1.20240620.1